@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
html {
  font-size: 67.5%;
}
body {
  font-family: sans-serif;
}
#component {
  display: flex;
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  color: #1a237e;
  line-height: 3rem;
}
.half {
  width: 50%;
  margin: auto 5%;
  font-size: 1.5rem;
}
.half:first-of-type > h1 {
  font-size: 5.5rem;
  line-height: 7rem;
}
.half:first-of-type > h3 {
  margin: 3% auto;
}
.overTitle {
  text-transform: uppercase;
  font-size: 1.5rem;
}
.half > h3,
.tile > h3 {
  color: #7f8bce;
}
.half span {
  color: #314ffe;
}
.half > button {
  font-size: 1.4rem;
  padding: 13px 20px;
  color: white;
  background-color: #ffab02;
  border-radius: 5px;
  text-transform: uppercase;
}
.half:nth-of-type(2) {
  margin: none;
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
  row-gap: 30px;
  column-gap: 30px;
}

.tile {
  width: 290px;
  height: 250px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.tile > h2 {
  font-size: 2rem;
  line-height: 3.4rem;
  margin: 10px 0;
}
.tile > h3 {
  font-size: 1.3rem;
  line-height: 2.2rem;
}
.tile > i {
  padding: 14px 10px;
  font-size: 1.5rem;
  background-color: rgb(133, 218, 251);
  color: rgb(51, 105, 255);
  border-radius: 4px;
}
.tile:nth-of-type(2) > i {
  background-color: rgb(197, 255, 187);
  color: rgb(64, 160, 40);
}
.tile:nth-of-type(3) > i {
  background-color: rgb(255, 255, 131);
  color: rgb(251, 173, 26);
}
.tile:nth-of-type(4) > i {
  background-color: rgb(228, 170, 243);
  color: rgb(142, 36, 168);
}
.tile:nth-of-type(1) {
  margin-top: -40px;
}
.tile:nth-of-type(3) {
  margin-top: -40px;
}
.bg {
  height: 70%;
  width: 55%;
  top: 35%;
  left: -15%;
  border-radius: 100% 0 0 0;
  z-index: -1;
  position: absolute;
  background-image: linear-gradient(#f2f5ff, #fff);
}
